PXE_INTERFACE=enp3s0
PXE_DOMAIN_NAME=pxe.local
PXE_BRIDGE=PXE_BRIDGE
PXE_SERVER_IPv4=192.168.1.10
PXE_SUBNET_IPv4=192.168.1.0
PXE_NETMASK_IPv4=255.255.255.0
PXE_DHCP_RANGE_START_IPv4=192.168.1.100
PXE_DHCP_RANGE_END_IPv4=192.168.1.200
PXE_PREFIX_IPv4=24
DNS_SERVER_IPv4=8.8.8.8

PXE_SERVER_IPv6=fd00:192:168:100::1
PXE_SUBNET_IPv6=fd00:192:168:100::
PXE_DHCP_RANGE_START_IPv6=fd00:192:168:100::100
PXE_DHCP_RANGE_END_IPv6=fd00:192:168:100::200
PXE_PREFIX_IPv6=64
DNS_SERVER_IPv6=2001:4860:4860::8888
DHCP_LEASE_TIME=600
DHCP_MAX_LEASE_TIME=7200

ISO_PATH=/mnt/iso
HTTP_PATH=${MAIN_PATH}/http
TFTP_PATH=${MAIN_PATH}/tftp
BIN_PATH=${MAIN_PATH}/bin
LOG_PATH=${MAIN_PATH}/logs
STATE_PATH=${MAIN_PATH}/state